<label for="id_label_single">
  Click this to highlight the single select element

  <select class="js-example-basic-single js-states form-control" id="id_label_single">
    <option value = "basketball">basketball</option>
  </select>
</label>

<label for="id_label_multiple">
  Click this to highlight the multiple select element

  <select class="js-example-basic-multiple js-states form-control" id="id_label_multiple" multiple="multiple">
    <option value = "basketball">basketball</option>
    <option value = "basketball">soccer</option>
    <option value = "basketball">baseball</option>
  </select>
</label>
